@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: $body-color;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    color: $title-color;
}

:focus {
    outline: none;
}

::selection {
    background-color: $title-color;
    color: $white-color;
}